@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Regular.woff2') format('woff2'),
        url('../font/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-semibold';
    src: url('../font/Montserrat-SemiBold.woff2') format('woff2'),
        url('../font/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

body{
	background: url("../imas/fondo.jpg") ;
	background-size:  100% 100%;
	background-position: top;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


#inicio{
	text-align: center;
	padding-bottom: 20px;
	font-size: 26px;
	color: #64430d;
}


p{
	text-align: justify;
}

#botones_menu{
	margin-top: -80px;
	color: white;
	text-align: center;
	font-size: 18px;
	z-index: 10;
}


@media only screen and (max-width: 1450px) {
 #botones_menu{
	margin-top: -50px;
	 font-size: 15px;
}
}



.bot{
	padding-top: 20px;
}


.card-header{
	background: url("../imas/pleca.jpg");
	background-size: auto 100%;
	background-position: right;
	background-color: #E6C68E;
	background-repeat: no-repeat;
	height: 50px;
	color: white;
	font-size: 25px;
	font-weight: bold;
}

.pleca-temas{
	background: url("../imas/pleca.jpg");
	background-size: auto 100%;
	background-position: right;
	background-color: #E6C68E;
	background-repeat: no-repeat;
	height: auto;
	color: white;
	font-weight: bold;
	white-space: normal;
	word-wrap: break-word;
	font-size: clamp(20px, 2vw, 25px);
	padding: 12px;
}


.bot-acor{
	 position: absolute; 
	width: 100%; 
	height: 50px; 
	top: 0px; 
	left: 0px;
}
.iconito1{
	position: absolute; 
	left: 0px; 
	top: 0px;
}
.iconito2{
	position: absolute; 
	right: 0px; 
	top: 0px;
}

h3{
	color:#64430d;
	margin-top: 32px;
}

h4{
	color:#64430d;
	margin-top: 32px;
}

ol li::marker, ul li::marker {
    color: #af700c;
	font-weight: bold;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.bot-menu{
	color: white
		
}

.bot-menu:hover{
	color:#b55a0f;
}

.titulin{
	color:#885708;
	font-size: 21px;
	margin-top: 30px;
}

#pleca_botones{
	width: 100%;
	padding: 10px;
	background: linear-gradient(to right,rgb(179, 116, 14), rgb(223, 173, 94), rgb(179, 116, 14));
	position: fixed;
	bottom:0px;
}

.tx-figura{
	text-align: center;
	color:#885708;
	margin-top: 10px;
}


.actividad{
	background: #ece0ce;
	border: dotted 2px #885708;
	color: #885708;
	width: 100%;
	max-width: 800px;
	padding:20px;
	margin-top: 50px;
}

hr{ 
	 border: 1px solid #885708;
}


.indice {
	background: #ece0ce;
	padding: 20px;
	color: #885708;
}

.sangria-francesa {
	list-style: none;
	padding-left: 20px; /* Ajusta el espacio del margen izquierdo  */
	text-indent: -20px; /* Crea la sangria francesa*/
}

.glosario {
	list-style: none;
}

.imagen-contenido{
	width: 800px;
	height: 500px;
}

.imagen-contenido-vert{
	width: 700px;
	height: 800px;
}

.contenedor {
  max-width: 100%;
  padding: 1rem;
}

.imagen-responsiva {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto; /* Centrado horizontal */
}

